.Abstract-New-Order-Column-Page{
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  max-width: 51.2rem;
  width: 100%;
  height: 100vh;
}
.Container-products {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  max-width: 51.2rem;
  width: 100%;
  padding: 7.46rem 4rem 0rem 4rem;
  // height: 100vh;
}
.Container-title {
  max-width: 43.2rem;
  width: 100%;
  padding-top: 1.4rem;
}

.Container-img-illustration {
  height: 100%;
  max-width: 51.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-illustration{
  max-width: 31.7rem;
  width: 100%;
}
.Abstract-New-Order-Text-Title {
  margin-top:2.4rem ;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3rem;
  /* identical to box height, or 150% */

  /* Black 0.88% */

  color: rgba(0, 0, 0, 0.88);
}
.New-Order-Step-Two-Container-Total{
  // background-color: blue;
  display: flex;
  flex-direction: column;
  max-width: 43.2rem;
  width: 100%;
 
}
.New-Order-Step-Two-Divider-Total{
  // max-width: 51.2rem;
  border: none;
  width: 100%;
  height: 0.8rem;
  background:rgba(0, 0, 0, 0.08) ;
}
.New-Order-Step-Two-Divider-Total-Row{
  display: flex;
  flex-direction: row;
  max-width: 51.2rem;
  width: 100%;
 
  padding: 2.4rem 4rem 1rem 4rem;
  justify-content: space-between;
  font-size: 2rem;
  // line-height: 3rem;
}

.New-Order-Step-Two-Text-Value{

  color: rgba(0, 0, 0, 0.56);

  
}




