.Container-home {
  height: 100vh;
  display: flex;
  flex-direction: Row;
  background: #FAFAFA;
}
// ------------------------

// ----------------------------

.Container-information-orders {
  display: flex;
  flex-direction: column;
  background: darkblue;
}
