.Container-orders-by-user {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  max-width: 102.4rem;
  width: 100%;
  margin-right: 3.9rem;
  margin-left: 4rem;
}
.Container-user-header-photo{
 margin-bottom:4.26rem ;
}
.Container-title-orderByUser{
  margin-top: 1.6rem;
}