.Container-orders-by-user {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  max-width: 102.4rem;
  width: 100%;
  margin-right: 3.9rem;
  margin-left: 4rem;
}

.Container-Header-Icons{
display: flex;
flex-direction: column;
// background-color: aqua;
justify-content: space-between;
margin-top: 1.6rem;

width: 100%;

}


.Container-title-orderByUser{
  margin-top: 1.6rem;
}

@media  (max-width : 850px) {

  .Container-orders-by-user {
    
    margin-right: 1.6rem;
    margin-left: 1.6rem;
   
  }
  .Container-Header-Icons{
    flex-direction: row-reverse;
  }

}
