.Container-page {
  height: 100vh;
  display: flex;
  flex-direction: Row;
  background: #fafafa;
}
.Container-row {
  display: flex;
  flex-direction: row;
}
.Container-products {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
 
  // background-color: darkcyan;
  width: 51.2rem;
  padding-top: 7.2rem;
  padding-left: 4rem;
}

.Container-title {
  padding-top: 1rem;
}
.Container-img-illustration {
  // background-color: darkmagenta;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Container-Column {
  display: flex;
  flex-direction: column;
   background: #FAFAFA;
}
.Container-user-header {
  padding-right: 3.9rem;
  padding-bottom: 1.6rem;
  background: #FAFAFA;
 
}
.Container-inf-order {
  padding: 3.2rem 4rem 0rem 4rem;
  width: 51.2rem;
 
 
}
.subtitle-inf-order {
  margin-top: 2.4rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;

  color: rgba(0, 0, 0, 0.56);
}


.Text-h6-inf-new-order{
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  font-family: Open Sans;
  font-style: SemiBold;
  font-weight: SemiBold;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.Container-category{
  padding-top: 2.4rem;
  padding-left: 5.6rem;
  padding-right: 4rem;
}
.Title-category-products{

  font-family: Open Sans;
  font-style: SemiBold;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
}