.Container-page {
  height: 100vh;
  display: flex;
  flex-direction: Row;
  background: #FFFFFF;
}
.Container-content-new-order{
  flex: 1;
}
.Container-row {
  display: flex;
  flex-direction: row;
}
.Container-Column {
  display: flex;
  flex-direction: column; 
   background: #FAFAFA;

}

.Container-user-header {
  padding-right: 3.9rem;
  padding-bottom: 1.6rem;
  background: #FAFAFA;
 
}