.Button-Next-Step-Container-Total-Products-Selected {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: row;
  
    justify-content: space-between;
    margin-top: 0.3rem;
    padding-left: 2.4rem;

    max-width: 51.2rem;
    width: 100%;

    background: #ff8822;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.2);
    color: #ffffff;
  }
  .Button-Next-Step-Container-Total-Products-Selected-Text {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    max-width: 51.2rem;
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.4rem;
    /* identical to box height, or 150% */
  }
  .Button-Next-Step-Container-Total-Products-Selected-Button{

    display: flex;
    flex-direction: row;
    margin: 1.6rem 3.2rem 1.6rem 0rem;
    border: none;
    background: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .Button-Next-Step-Container-Total-Products-Selected-Button-Icon{
    margin-top: 0.64rem;
    margin-left: 2.44rem;
  }
  
  @media  (max-width : 680px) {
    .Button-Next-Step-Container-Total-Products-Selected{
      max-width: 68rem;
      width: 100%;
    }
    
  
  }