.Container-steps {
    margin-top: 2.4rem;
  }
  .Text-title-steps {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    /* identical to box height, or 150% */
  
    color: rgba(0, 0, 0, 0.64);
  }
  .Container-progress-steps {
    margin-top: 0.8rem;
    width: 43.2rem;
    height: 1.2rem;
    background: rgba(0, 0, 0, 0.08);
  
    border-radius: 5px;
  }
  .Container-progress-1 {
    width: 14.4rem;
    height: 1.2rem;
    background: #ff8822;
    border-radius: 5px;
  }
  .Container-progress-2 {
    width: 28.8rem;
    height: 1.2rem;
    background: #ff8822;
    border-radius: 5px;
  }
  .Container-progress-3 {
    width: 43.2rem;
    height: 1.2rem;
    background: #ff8822;
    border-radius: 5px;
  }