.Container-list-products{
   background-color: #FAFAFA;
  // height: 30rem;
  overflow-y: scroll;
  overflow-x: hidden;
  }
  .Container-category{
    padding-top: 2.4rem;
    padding-left: 5.6rem;
    padding-right: 4rem;
  }
  .Title-category-products{
  
    font-family: Open Sans;
    font-style: SemiBold;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .List-Products-Container-Card{
    margin-bottom: 5rem;
  }

  .Line-divisor-foods{
    height: 0.1rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.08);
  }
  .Line-divider{
    height: 0.8rem;
    border: none;
    background: rgba(0, 0, 0, 0.08);
  }

  @media  (max-width : 850px) {

    .Container-category {
      
      padding-left: 1.6rem;
      padding-right: 1.6rem;
      
    }
  
  }


  @media  (max-width : 750px) {
    .Container-list-products .Container-card-new-order {
      max-width: 75rem;
      width: 100%;
    }
    
  
  }