.Container-open-orders{
    max-width: 51.2rem;
    width: 100%;
    background: white;
  }
  
  .Container-icon-back{
    height: 1.87rem;
    max-width: 1.074rem;
    width: 100%;
    margin-top: 7.46rem;
    margin-left: 4.64rem;
  }
  .Container-new-orders{
    
    display: flex;
    flex-direction: column;
    margin: 0rem 4.0rem 0rem 4.0rem  ;
    // background: white;
  }
  .Text-new-order{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: rgba(0, 0, 0, 0.87);
  }
  .Text-total{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 3rem;
  }