.New-Order-Step-Two-page{
  overflow-y: hidden;
  overflow-x: hidden;
}
.New-Order-Step-Two-Container-Column{

  /* display: flex;
  flex-direction: column; */
  background: #fafafa;
  padding: 3.2rem 4rem 0rem 4rem;
}
.New-Order-Step-Two-Text-Subtitle{
  margin-top: 2.4rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;

  color: rgba(0, 0, 0, 0.56);
}
.New-Order-Step-Two-Text-h6{
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  font-family: Open Sans;
  font-style: SemiBold;
  font-weight: SemiBold;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.New-Order-Step-Two-List-Clients{
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 4rem;
}
/* .New-Order-Step-Two-Card-Margin{
  margin-bottom: 5rem;

} */
.New-Order-Step-Two-Divider-Card-Person{
  height: 0.1rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.08);
}