.Text-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: rgba(0, 0, 0, 0.88);
  
  }
  .Line-title {
    width: 22.4rem;
    border-top: 1px solid #ff8822;
  }